
<!DOCTYPE html>
{% extends "base.html" %}
<html>
  <head>
    <title>Welcome to Drink Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=big5">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>

  </head>

{% block content %}
    <form method="post">
    <div class="col-md-12">
    <table class="table table-bordered">  
        <tr>
          <td>
            帳號
          </td>
          <td>
            {{username}}
          </td>          
        </tr>
        <tr>   
          <td >
            密碼
          </td>
          <td>
            <input type="password" name="changepassword" value="">
                
          </td>
           
        </tr>
        <tr>
          <td >
            密碼
          </td>
          <td>
            <input type="password" name="changeverify" value="">            
                
          </td>            
        </tr>
      </table>

      {%if error_password%}
         <strong class="alert alert-danger" role="alert">{{error_password}}</strong>
      {%endif%} 

      {%if error_verify%}
        <strong class="alert alert-danger" role="alert">{{error_verify}}</strong>
      {%endif%}
      <br>
      <div align='center'>    
        <input type='submit' class="btn btn-sm btn-primary" value='變更'>
      </div>
    </div>
    </form>
    <br>
    <div align='center'>  
        <p > ** 請輸入6-20字 **</p>
     </div>
    {% endblock %}
  </body>

</html>
