{% extends "base.html" %}

{% block content %}
	<div align='center'>
	<a href='/welcome' > 返回主頁 </a>
	</div>
	<br>
	<form method="post">	
	<div class="col-md-12">
	<table class="table table-bordered">	
		<tr>
			<td>
				選取訂單
			</td>
			<td>
				{{order_name}}&nbsp;,&nbsp;{{create_user}}
			</td>
			<input type='hidden' name='order_name' value='{{order_name}}'>
			<input type='hidden' name='create_user'  value="{{create_user}}">
		</tr>
		<tr>
			<td>
				商店名稱
			</td>
			<td>
				{{store_name}}
			</td>
			<input type='hidden' name='store_name' value='{{store_name}}'>
		</tr>		
		<tr>
			<td>
				選取飲料
			</td>
			<td>
				<select name = 'order_drink'>
				{%for menu in menus%}
					<option value="{{menu.menu_name}},{{menu.price}}">{{menu.menu_name}}&nbsp;,&nbsp;{{menu.price}}元</option>
				{%endfor%}
				</select>
			</td>	
		</tr>
		<tr>
			<td>
				飲料冷熱
			</td>
			<td>				
				<input type="radio" name="hot_cold" value = "熱">熱&nbsp;		
				<input type="radio" name="hot_cold" value = "冷" checked="True">冷&nbsp;		
			</td>
		</tr>
		<tr>
			<td>
				飲料冰塊
			</td>
			<td>				
				<input type="radio" name="ice" value = "正常" checked="True">正常&nbsp;
				<input type="radio" name="ice" value = "少冰">少冰&nbsp;
				<input type="radio" name="ice" value = "去冰" >去冰&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				飲料糖量
			</td>
			<td>				
				<input type="radio" name="sugar" value = "正常"checked="True">正常&nbsp;
				<input type="radio" name="sugar" value = "少糖" >少糖&nbsp;
				<input type="radio" name="sugar" value = "無糖" >無糖&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				飲料數量
			</td>
			<td>
				<input type='number' name='drink_num' value='1' maxlength='2' style='width:30px'>
			</td>
		</tr>
	</table>
	{%if error%}
		<div class="alert alert-danger" role="alert">
			<strong>{{error}}</strong>
		</div>
	{%endif%}
		<div align='center'>		
			<input type='submit' class="btn btn-sm btn-primary" value='訂購'>
		</div>
	</div>
	</form>
	<br>
	<div align='center'>
		<p class='tip'> ** 飲料數量請介於1到3之間 ** </p>
	</div>
	{% endblock %}